site antigo/
.kiro/
.vscode/
*.tmp
*.zip
CHANGELOG.md
GALERIA.md
MELHORIAS-APLICADAS.md
MELHORIAS-PREMIUM.md
README.md
RESUMO-MELHORIAS.md
prints_carta/
"LOGO GLOBAL ELETROMECANICA/Global Eletromecânica.fw.png"
"LOGO GLOBAL ELETROMECANICA/Imagem - Perfil.fw.png"
